# Ignore catkin workspace build artifacts
build/
devel/
logs/

# Ignore CMake temporary files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore VSCode settings
.vscode/
src/.vscode/

# Ignore Catkin tools directory
.catkin_tools/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Ignore ROS logs and bag files
rosbag/
*.bag
*.log
